<ul class="file-list">
    <% fileArray.forEach(file=>{ %>
        <li data-file=<%= JSON.stringify(file) %>>
            <p class="name">
                <%= file.name %>
            </p>
            <p class="type">
                <%= file.type %>
            </p>
        </li>
    <% }) %>
</ul>