<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no,maximum-scale=1.0">
    <meta http-equiv=" X-UA-Compatible " content="ie=edge ">
    <title>文件管理器</title>
    <link rel="stylesheet" href="/static/explorer/reset.css">
    <link rel="stylesheet" href="/static/explorer/index.css">
</head>

<body>

    <div class="explorer">
    <%# 文件列表 %>
        <% if(typeof fileArray != 'undefined'&&fileArray.length){ %>
            <%- include('fileList',{fileArray:fileArray}) %>
        <% } %>

        <%# 单个文件展示 %>
        <div class="show">
            <img src="" alt="">
        </div>
    </div>
    
    

    

    <script src="/static/explorer/index.js"></script>

</body>

</html>