.explorer {
    display: flex;
}

.file-list {
    width: 50%;
}

.show {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.show img {
    display: none;
}

.file-list li {
    height: 60px;
    margin-bottom: 30px;
    list-style: none;
    text-align: center;
    background: rgba(38, 38, 38, 1);
    border-radius: 5px;
    box-shadow: 1px 10px 20px 0px rgba(24, 24, 30, 1);
    cursor: pointer;
    display: flex;
    align-items: center;
}

.file-list li:hover {
    box-shadow: 1px 5px 10px 0px rgba(24, 24, 30, 1);
}

.file-list li .name {
    color: white;
    width: 100px;
    margin-right: 40px;
    overflow: hidden;
}

.file-list li .type {
    color: grey;
}