.file-list {
    display: flex;
    flex-wrap: wrap;
}

.file-list li {
    width: 100px;
    height: 100px;
    margin-right: 20px;
    margin-bottom: 20px;
    list-style: none;
    text-align: center;
    background: rgba(38, 38, 38, 1);
    border-radius: 5px;
    box-shadow: 1px 10px 20px 0px rgba(24, 24, 30, 1);
    cursor: pointer;
}

.file-list li:hover {
    box-shadow: 1px 5px 10px 0px rgba(24, 24, 30, 1);
}

.file-list li a {
    display: block;
    height: 100%;
    color: white;
}